body {
    background-color: #383d3b;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #f252e4;
    font-weight: bold;
    margin-bottom: 0;
}

h4 {
    color: #f252e4;
}

a {
    color: #50cce5;
    padding-right: 3px;
    padding-left: 3px;
    text-decoration: none;
}

a:hover {
        color: #3294a8;
        padding-right: 3px;
        padding-left: 3px;
        text-decoration: none;
    }

ul {
    margin-top: 0%;
    list-style-position: inside;
    list-style-type: none;
    margin-right: 0;
    padding-left: 0;
}

li {
    background-color: #595b5a;
    padding-left: 10px;
    margin: 10px;
}

input[type=submit] {
    background-color: #50cce5;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    font-size: 18px;

}

input[type=text], select, textarea {
    max-width: 180px;
    width: 100%;
    max-height: 25px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    background-color: #fff;
    color: #000;
}

input[type=submit]:hover {
        color: #ffffff;
        background-color: #3294a8;
}

textarea {
    max-width: 400px;
    max-height: 400px;
}

#title {
    max-width: 400px;
}

#posts {
    background-color: none;
    width: 60%;
    flex: 0 0 50%;
    padding-left: 10px;
    border-left: 10px;
}

container {
    /*float: none;
    text-align: left;
    background: none;
    position: relative;
    z-index: 1000;*/
    display: flex;
    flex-wrap: wrap;
}

.columns {
    bottom: 0;
    width: 20%;
    background-color: #595b5a;
    padding: 10px;
    margin: 10px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header {
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    max-width: 20px;
    display: inline-block;
}