
@model GameBlog.ViewModels.PostViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Welcome to the blog!</h1>


<form asp-controller="Home" asp-action="Index" method="post">
    <label asp-for="SearchValue"></label>
    <input type="text" asp-for="SearchValue">
    <input type="submit" value="Search" />
</form>

<ul>
    @foreach (var post in Model.AllPosts)
    {
        <li>
            <a asp-controller="Home" asp-action="ShowPost" asp-route-id="@post.Id">
                <h3>@post.Title</h3>
            </a>
            @*<p>@post.Content</p>*@
            <h6>@post.Date</h6>

        </li>
    }
</ul>