
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<head>
    <link href="@Url.Content("~/CSS/style.css")" rel="stylesheet" type="text/css" />
</head>
<h1>Post deleted!</h1>
<container>
    <div id="posts">
        <ul>
            <li>

                <br /><br /><br />
                            <img class="icon" src="@Url.Content("~/Pictures/psCirclePink.png")" alt="IMAGES" />
                <a asp-controller="Home" asp-action="Index">Back to main page</a>
            </li>
        </ul>
    </div>
</container>