@model GameBlog.ViewModels.PostViewModel

<head>
    <link href="@Url.Content("~/CSS/style.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Post successfully published!</h1>

<h2>@Model.CurrentPost.Title</h2>
<p>@Model.CurrentPost.Content</p>
<p>Posted @Model.CurrentPost.Date</p>

